{% macro row() %}<div class="row">{% endmacro %}

{% macro container() %}<div class="container">{% endmacro %}

{% macro col(cols=[]) %}<div class="col {{ cols|join(' ') }}">{% endmacro %}

{% macro enddiv() %}</div>{% endmacro %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>

    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Materialize. Availible at https://github.com/Dogfalo/materialize -->
    <!-- Flask-Materialize. Availible at https://github.com/HellerCommaA/flask-materialize -->
    <link href="{{material_find_resource('css/materialize.css', cdn='material')}}" rel="stylesheet" media="screen">


    {%- endblock styles %}
    {%- endblock head %}
    <link type="text/css" rel="stylesheet" href="{{url_for('.static', filename='css/hvlia.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="manifest" href="{{url_for('.static', filename='manifest.json')}}">
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{material_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{material_find_resource('js/materialize.js', cdn='material')}}"></script>
    <script src="{{url_for('.static', filename='toolbar.js')}}"></script>


    {%- endblock scripts %}
    {% block footer %}
    {%- endblock footer %}
    {%- endblock body %}


    <div class="fixed-action-btn toolbar">
       <a class="btn-floating btn-large teal">
         <i class="large material-icons">add</i>
       </a>
       <ul>
         <li class="waves-effect waves-light"><a href="/"><i class="material-icons">smartphone</i></a></li>
         <li class="waves-effect waves-light"><a href="/guideline"><i class="material-icons">description</i></a></li>
         <li class="waves-effect waves-light"><a href="/blocks"><i class="material-icons">info_outline</i></a></li>
         <li class="waves-effect waves-light"><a href="/disclaimer"><i class="material-icons">warning</i></a></li>
       </ul>
     </div>

    <!-- <div class="fixed-action-btn click-to-toggle" style="bottom:24px; right:24px;">
								<a class="btn-floating btn-large teal">
									<i class="large material-icons">settings</i>
								</a>
								<ul>
                  <li>
										<a href="/" class="btn-floating teal" ><i class="material-icons">home</i></a>
										<a href="/" class="btn-floating mobile-fab-tip">home</a>
									</li>

									<li>
										<a href="/guideline" class="btn-floating amber darken-1" ><i class="material-icons">smartphone</i></a>
										<a href="#" class="btn-floating mobile-fab-tip">guideline</a>
									</li>

									<li>
										<a href="#" class="btn-floating amber darken-1"><i class="material-icons">info_outline</i></a>
										<a href="#" class="btn-floating mobile-fab-tip">ACB / FIB</a>
									</li>

                  <li>
										<a href="#" class="btn-floating amber darken-1"><i class="material-icons">info_outline</i></a>
										<a href="#" class="btn-floating mobile-fab-tip">FIB</a>
									</li>

									<li>
										<a href="#" class="btn-floating amber darken-1 modal-trigger"><i class="material-icons">warning</i></a>
										<a href="#" class="btn-floating mobile-fab-tip modal-trigger">disclaimer</a>
									</li>

								</ul>
							</div> -->


  </body>

{%- endblock html %}
</html>
{% endblock doc -%}
