{% macro row() %}<div class="row">{% endmacro %}

{% macro container() %}<div class="container">{% endmacro %}

{% macro col(cols=[]) %}<div class="col {{ cols|join(' ') }}">{% endmacro %}

{% macro enddiv() %}</div>{% endmacro %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>

    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Materialize. Availible at https://github.com/Dogfalo/materialize -->
    <!-- Flask-Materialize. Availible at https://github.com/HellerCommaA/flask-materialize -->
    <link href="{{material_find_resource('css/materialize.css', cdn='material')}}" rel="stylesheet" media="screen">


    {%- endblock styles %}
    {%- endblock head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{material_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{material_find_resource('js/materialize.js', cdn='material')}}"></script>
    <script src="{{url_for('.static', filename='fab.js')}}"></script>


    {%- endblock scripts %}
    {% block footer %}
    {%- endblock footer %}
    {%- endblock body %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">reorder</i>
      </a>
      <ul>
        <li><a class="btn-floating yellow darken-1" href="/guideline"><i class="material-icons">description</i></a></li>
        <li><a class="btn-floating  teal"><i class="material-icons">info_outline</i></a></li>
        <li><a class="btn-floating  teal"><i class="material-icons">info_outline</i></a></li>
        <li><a class="btn-floating red"><i class="material-icons">warning</i></a></li>
      </ul>
    </div>

  </body>

{%- endblock html %}
</html>
{% endblock doc -%}
