{% extends "material/base.html" %}
{% block content %}

<div class="valign-wrapper row app-box">
      <div class="col s12 center-align">
            <div class="container">
                  <div class="row">
                        <div class="col s12 center-align">
                              <h2> Adductor Canal Block </h2>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col s12 center-align">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/static/images/ACB.png">

                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">Adductor Canal Block<i class="material-icons right">more_vert</i></span>
                              <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Adductor Canal Block<i class="material-icons right">close</i></span>
                              <p>Here is some more information about this block that is only revealed once clicked on.</p>
                            </div>
                          </div>

                  </div>

            </div>
      </div>
</div>






{% endblock %}
