{% extends "material/base.html" %}
{% block content %}

<div class="container">
		<div class="row center-cols center-align">
			<div class="col m6">
				<div class="card">
					<div class="card-image">
						<img src="/static/images/ACB.png"> <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Adductor Canal Block</span>
					</div>
					<div class="card-content">
						<h5>Indications</h5>
						<p>Part of multimodal analgesia for TKR. Analgesia for surgery involving the medial aspect of lower leg from knee onwards and medial border of the foot </p>
					</div>
					<div class="card-action">
						<a href="https://docs.google.com/document/d/1AkwKR-k2yv4saOGQe_xKxdx4s8mUwZC2zNsUK_i-DhY/edit?usp=sharing" target="_blank">crib sheet</a>
					</div>
				</div>
			</div>
			<div class="col m6">
				<div class="card">
					<div class="card-image">
						<img src="/static/images/SIFIB.png"> <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Suprainguinal Fascia Iliaca Block</span>
					</div>
					<div class="card-content">
						<h5>Indications</h5>
						<p>Superior to Infrainguinal approach due to more proximal spread. Analgesia for surgery involving the hip, femur and knee – eg Fractured neck of femur (pre op / pre spinal /intra op (if GA) / Post op analgesia), THR, Femoral Nail, Surgery on Ant/Lat/medial thigh, AKA, TKR
</p>
					</div>
					<div class="card-action">
						<a href="https://docs.google.com/document/d/1IGlWBl85bvkXT23uUvs7HbITcFhJ6zL2yJZGkRiwJwg/edit?usp=sharing" target="_blank">crib sheet</a>
					</div>
				</div>
			</div>
		</div>
	</div>





{% endblock %}
