
{% extends "material/base.html" %}
{% import "material/utils.html" as util %}


{% block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Materialize. Availible at https://github.com/Dogfalo/materialize -->
    <!-- Flask-Materialize. Availible at https://github.com/HellerCommaA/flask-materialize -->
    <link href="{{material_find_resource('css/materialize.css', cdn='material')}}" rel="stylesheet" media="screen">


    {%- endblock styles %}
    <link rel="apple-touch-icon" sizes="512x512" href="/static/images/apple-touch-icon.png" />
		
{% endblock %}



{% block content %}

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Disclaimer</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Welcome</h4>
    <p>Thank you for helping us trial the new WXH HVLIA app.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


<div class="valign-wrapper row">
	<div class="col s12 offset-l2 l8 center-align">
		<form action="#" method="post">
			<div class="container">
				<span class="card-title"></span>
				<div class="row">
					<div class="col s12">
						<h2>HVLIA calculator</h2>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" name="wt" type="tel"> <label for="weight">Patient Weight (kg)</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select name="block_info">
							<option disabled selected value="">Choose your block</option>
							<option value="1">ACB (30 mls 0.25% Levobupivicaine)</option>
							<option value="2">FIB (40 mls 0.125% Levobupivicaine)</option>
						</select>
						<label>Block Type</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
							<select name="KetVol">
								<option disabled selected value="">Is Ketorolac Indicated?</option>
								<option value="1">Yes</option>
								<option value="0">No</option>
							</select>
							<!-- <label>Ketorolac</label> -->
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 center-align">
						<button class="waves-effect waves-light btn-large" id="btn" value="Do calculation">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>





{% endblock %}



{% block scripts %}

{{ super() }}

	<script src="{{url_for('.static', filename='select.js')}}"></script>
  <script src="{{url_for('.static', filename='select_dropdown.js')}}"></script>
  <script src="{{url_for('.static', filename='modal.js')}}"></script>




{% endblock %}
